.singlecardtext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(255, 255, 255, 0.4);
}

.artists-card {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(255, 255, 255, 0.1) !important;
  width: auto;
  height: auto;
  border: 1px;
  border-radius: 5px;
}

.artists-card:hover {
  background-color: rgb(255, 255, 255, 0.2) !important;
}

.artists-card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.album-info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.album-type-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
}

.album-name-text {
  visibility: visible;
  width: 100%;
  line-height: 72px;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 10px;
}

.year {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.green-play-btn {
  color:rgb(30, 215, 96);
  margin-right: 20px;
}

.heart-btn {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 20px;
}

.tracklist-header{
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
}

p {
  margin: 0;
}

.titleandhash{
  display: flex;
  flex-direction: row;
}

.hash{
  width: 30px;
}

.tracklist-name-artist{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tracklist-name{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
}

.tracklist-artist{
  font-size: 16px;
  font-weight: 400;
  color: rgb(179, 179, 179);
}

.tracklist-number-container{
  width: 30px;
  display: flex;
  align-items: center;
}

.tracklist-number{
  text-align: right;
}

.light-white{
  color: rgba(255, 255, 255, 0.6);
}

.more-by{
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.cursor{
  cursor: pointer;
}

.cursor:hover{
  color: white;
}

.tracklist-item:hover{
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.tracklist-item:hover > div > .tracklist-number-container {
  display: none;
}

.tracklist-item:hover > div > svg {
  width: 30px;
  display: flex !important;
  padding-right: 15px;
}