.playlist-container-page {
  position: relative;
  left: 17vw;
  width: 83vw;
  height: 90vh;
  overflow-x: hidden;
  background-color: #121212;
  padding-bottom: 50px;
}

.tracklist-img {
  height: 45px;
  padding-right: 20px;
}

.tracklist-album-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selected {
  background-color: #333;
  border-radius: 5px;
  color: white !important;
  font-weight: 1100;
  font-size: 16px !important
}

.library-links {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.library-links:hover {
  cursor: pointer;
  color: white;
}